body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.autocompletebox {
  width: 50%;
  height: 10em;
  margin: auto;
  margin-top: 5em;
}
.toggle {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  width: auto;
  display: flex;
  justify-content: center;
  margin-right: 0.5em;
  align-items: center;
  transition: background-color 1s ease;
  width: 2em;
  height: 2em;
  border-radius: 1em;
}
.toggle:hover {
  cursor: pointer;
  background-color: grey;
}
.show {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
  left: 0;
  bottom: 0;
}
.inputbox {
  height: 3em;
  width: 100%;
}
.dropdown {
  max-height: 10em;
  overflow: auto;
}
.input {
  display: flex;
  width: 100%;
  border-style: solid;
  border-width: thin;
  display: flex;
  align-items: center;
}
.option {
  cursor: pointer;
  min-height: 2em;
  display: flex;
  justify-content: start;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 0;
}
.inputbox {
  border-style: none;
  outline: none;
  border-radius: 1em;
  border-width: thin;
}
